<table>
 <thead>
   <tr>
    <td><h4><span style="margin-left:50px">Title :</span></h4></td>
    <td><%= @book.title %></td>
   </tr>
 </thead>
 <tbody>
     <tr>
     <td><h4><span style="margin-left:45px">Body :</span></h4></td>
     <td><%= @book.body %></td>
     </tr>
   </tbody>

<th><%= link_to "edit", edit_book_path(@book) %></th>
<th><span style="margin-right:30px">|</span></th>
<th><a href="/books">    back</a></th>
</table>
